<div class="container-fluid">
  <div class="row text-center justify-content-center">
    <h1>Works</h1>
    <button mat-raised-button color="primary" class="col-3" (click)="createForm()">Add Work</button>
  </div>
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">CreatedAt</th>
      <th scope="col">Room</th>
      <th scope="col">Paid</th>
      <th scope="col-2">Actions</th>
<!--      TODO: Display Date, either Start or End date depends whether it started-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let work of works">
      <td>{{work.workType?.name}}</td>
      <td>{{work.createdAt}}</td>
      <td>{{work.room?.name}}</td>
      <td *ngIf="work.paid"> <i class="bi bi-check-lg"></i> </td>
      <td *ngIf="!work.paid"> <i class="bi bi-x-lg"></i> </td>
      <td class="col-2">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="editForm(work)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" (click)="removeForm(work)" >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>

    </tbody>
  </table>
</div>


