<div class="container-fluid">
  <div class="row text-center justify-content-center">
    <form [formGroup]="filterForm">
<!--      <mat-form-field>-->
<!--        <mat-label>Name</mat-label>-->
<!--        <input matInput formControlName="name">-->
<!--      </mat-form-field>-->

      <!--      <mat-form-field>-->
      <!--        <mat-label>Last Updated</mat-label>-->
      <!--        <input>-->
      <!--      </mat-form-field>-->

<!--      <mat-form-field>-->
<!--        <mat-label>Created From</mat-label>-->
<!--        <input matInput [matDatepicker]="pickerFromCreated" formControlName="fromCreatedAt">-->
<!--        <mat-datepicker-toggle matIconSuffix [for]="pickerFromCreated"></mat-datepicker-toggle>-->
<!--        <mat-datepicker #pickerFromCreated></mat-datepicker>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field>-->
<!--        <mat-label>Created To</mat-label>-->
<!--        <input matInput formControlName="toCreatedAt">-->
<!--      </mat-form-field>-->

<!--      <mat-form-field>-->
<!--        <mat-label>Author</mat-label>-->
<!--        <input matInput formControlName="createdBy">-->
<!--      </mat-form-field>-->

      <!--      <mat-form-field>-->
      <!--        <mat-label>Last Modified By</mat-label>-->
      <!--        <input>-->
      <!--      </mat-form-field>-->

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="state">
          <mat-option *ngFor="let element of status" [value]="element">{{ element }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Room</mat-label>
        <mat-select formControlName="roomId" [compareWith]="compareById">
          <mat-option [value]=""></mat-option>
          <mat-option *ngFor="let room of rooms" [value]="room.id">{{ room.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Work Type</mat-label>
        <mat-select formControlName="workTypeId" [compareWith]="compareById">
          <mat-option [value]=""></mat-option>
          <mat-option *ngFor="let workType of workTypes" [value]="workType.id">{{ workType.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Paid</mat-label>
        <mat-select formControlName="paid">
          <mat-option [value]="null"></mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>

    </form>
    <h1>Works</h1>
    <button mat-raised-button color="accent" class="col-3" (click)="createForm()">Add Work</button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!--      TODO: Display Date, either Start or End date depends whether it started-->

    <ng-container matColumnDef="type">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{ element.workType?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="room">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Room</th>
      <td mat-cell *matCellDef="let element">{{ element.room?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="paid">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Paid</th>
      <td mat-cell *matCellDef="let element">
        <i *ngIf="element.paid" class="bi bi-check-lg"></i>
        <i *ngIf="!element.paid" class="bi bi-x-lg"></i>
      </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.state }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Update </th>
      <td mat-cell *matCellDef="let element"> {{ element.updatedAt | relativeTime }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" class="col-2">
        <button mat-mini-fab color="accent"
                (click)="editForm(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn"
                (click)="removeForm(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>
  <mat-paginator
  [pageSize]="DEFAULT_PAGE_SIZE"
  [pageSizeOptions]="DEFAULT_PAGE_SIZE_OPTIONS">

  </mat-paginator>
</div>


