.container-fluid{
  box-sizing: border-box;
  margin: 20px 0;
  height: calc(100% - 40px);
  border: solid 0.5px;
  border-radius: 25px;
}
button{
  margin: 0 10px;
}

td, tr{
  vertical-align: middle;
}

