<form [formGroup]="roomForm" (ngSubmit)="onSubmit()" class="room-dialog">
  <div class="dialog-header-base">
    <h2 mat-dialog-title>{{ data.action }} Room</h2>
    <mat-icon color="primary">meeting_room</mat-icon>
  </div>

  <mat-dialog-content class="vertical-layout">
    <mat-form-field appearance="outline">
      <mat-label>Room Name</mat-label>
      <mat-icon matPrefix color="primary">label</mat-icon>
      <input matInput formControlName="name" placeholder="e.g. Bathroom">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Planned Budget</mat-label>
      <mat-icon matPrefix color="primary">payments</mat-icon>
      <input matInput formControlName="budgetPlanned" type="number">
      <span matSuffix class="currency-suffix">PLN</span>
    </mat-form-field>
  </mat-dialog-content>

  <div class="dialog-footer-base">
    <button mat-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" type="submit" [disabled]="!roomForm.valid">
      {{ data.action }}
    </button>
  </div>
</form>
