<div class="auth-container">
  <div class="welcome-section">
    <app-welcome-banner></app-welcome-banner>
  </div>
  <div class="form-section">
    <div class="form-wrapper">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card class="loginForm">
          <mat-card-header>
            <mat-card-title>Login</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div id="errors">
              <mat-error id="invalidCredentials" *ngIf="invalidCredentials">Invalid username or password</mat-error>
              <mat-error id="serverError" *ngIf="serverError">Server error. Please try again later</mat-error>
            </div>

            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <mat-icon matPrefix color="primary">person</mat-icon>
              <input matInput placeholder="Username" formControlName="username">
              <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <mat-icon matPrefix color="primary">lock</mat-icon>
              <input matInput placeholder="Password" [type]="passwordType" formControlName="password">
              <button matSuffix mat-icon-button (click)="togglePasswordVisibility($event)" type="button" tabindex="-1">
                <mat-icon>{{ passwordType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
              </button>
              <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
            <p style="text-align: center; margin-top: 16px;">
              Don't have an account? <a href="/Register">Register</a>
            </p>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>
