<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-card class="loginForm">
    <mat-card-header>
      <h1>Login</h1>
    </mat-card-header>
    <div id="errors">
      <p id="invalidCredentials" *ngIf="invalidCredentials">Invalid username or password.</p>
      <p id="serverError" *ngIf="serverError">Server error. Please try again later.</p>
    </div>
    <mat-card-content>
      <p>
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username">
          <mat-error>This field is <strong>required</strong></mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error>This field is <strong>required</strong></mat-error>
        </mat-form-field>
      </p>
      <p class="small">Forgot password? <a href="">You have a problem</a></p>

      <p class="small">Dont have account? <a href="/Register">Register</a></p>
      <button mat-raised-button color="primary">Login</button>
    </mat-card-content>
  </mat-card>
</form>
