.logoHolder{
  display:flex;
  align-items: center;
  width: 100%;
  height: var(--mat-toolbar-standard-height);
  background-color: var(--mat-toolbar-container-background-color);
}
.logoName{

  width: 100%;
  text-align: center;
  font-size: 2em;
  font-family: Georgia, serif;
  hyphens: manual;
}

mat-nav-list{

}

//.container-fluid{
//  height: 100%;
//  padding: 3vh 0 0;
//}
//.row{
//
//  //padding-left: 1vw;
//  height: 6vh;
//  font-size: large;
//  border-radius:15px;
//  transition: background-color 0.5s ease;
//  margin: 10px 10px;
//  cursor: pointer;
//}
//.row:hover{
//  background-color: #3d3d3d;
//  z-index:2;
//  box-shadow: 0 0 0.5vw 0 rgba(0,0,0,0.6);
//}
//
//i{
//  font-size: large;
//  margin-right: 5px;
//  color: #5726f3;
//}
