<div class="logoHolder">
  <span class="logoName">Budget&shy;Holder</span>
</div>
<mat-nav-list>
  <mat-list-item routerLink="/Dashboard">
    <mat-icon matListItemIcon>home</mat-icon>
    <span>Dashboard</span>
  </mat-list-item>
  <mat-list-item routerLink="/Work">
    <mat-icon matListItemIcon>build</mat-icon>
    <span>Works</span>
  </mat-list-item>
  <mat-list-item routerLink="/Contractors">
    <mat-icon matListItemIcon>people</mat-icon>
    <span>Contractors</span>
  </mat-list-item>
  <mat-list-item routerLink="/WorkType">
    <mat-icon matListItemIcon>work</mat-icon>
    <span>Work Type</span>
  </mat-list-item>
  <mat-list-item routerLink="/Room">
    <mat-icon matListItemIcon>meeting_room</mat-icon>
    <span>Rooms</span>
  </mat-list-item>
  <mat-list-item routerLink="/Budget">
    <mat-icon matListItemIcon>attach_money</mat-icon>
    <span>Budget</span>
  </mat-list-item>
</mat-nav-list>
