.logoHolder {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--mat-toolbar-standard-height);
  background-color: var(--mat-toolbar-container-background-color);
}

.logoName {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-family: Georgia, serif;
}
