<form [formGroup]="workTypeForm" (ngSubmit)="onSubmit()" class="work-type-wrapper">
  <div class="dialog-header-base">
    <h2 mat-dialog-title>{{ data.action }} Work Type</h2>
    <mat-icon color="primary" class="header-icon">build</mat-icon>
  </div>

  <mat-dialog-content class="vertical-content">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Work Type Name</mat-label>
      <mat-icon matPrefix color="primary">category</mat-icon>
      <input matInput formControlName="name" placeholder="e.g. Plumbing" [errorStateMatcher]="matcher">
      <mat-error>Name is <strong>required</strong></mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <div class="dialog-footer-base">
    <button mat-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="accent" type="submit" [disabled]="!workTypeForm.valid">
      {{ data.action }}
    </button>
  </div>
</form>
