<form [formGroup] ="contractorForm" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>{{ data.action }}</h2>
  <mat-dialog-content class="mat-typography">
    <mat-tab-group>
      <mat-tab label="Type">
        <mat-radio-group formControlName="type" required>
          <mat-label>Contractor Type</mat-label><br>
          <mat-radio-button [value]="'PRIVATE'">Private</mat-radio-button><br>
          <mat-radio-button [value]="'COMPANY'">Company</mat-radio-button>
        </mat-radio-group>
      </mat-tab>

      <mat-tab label="Contact" [disabled]="contractorForm.get('type')?.value == null">
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstName" name="firstName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastName" name="lastName">
        </mat-form-field><br>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" name="email">
          <mat-error>It isn't an <strong>email</strong>.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [maskito]="phoneMask" placeholder="Phone" formControlName="phone" name="phone">
        </mat-form-field>
      </mat-tab>

      <mat-tab label="Address" [disabled]="contractorForm.get('type')?.value == null">
        <mat-label>Address Information</mat-label><br>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="address" name="address">
        </mat-form-field><br>
        <mat-form-field>
          <input matInput placeholder="City" formControlName="city" name="city">
        </mat-form-field>
        <mat-form-field>
          <input matInput [maskito]="postalMask" placeholder="Postal Code" formControlName="postalCode" name="postalCode">
        </mat-form-field><br>
        <mat-form-field>
          <input matInput placeholder="Country" formControlName="country" name="country">
        </mat-form-field>
      </mat-tab>

      <mat-tab label="Banking" [disabled]="contractorForm.get('type')?.value == null">
        <mat-form-field style="width: 100%">
          <input matInput [maskito]="bankingMask" placeholder="Bank Account" formControlName="bankAccount" name="bankName">
        </mat-form-field>
      </mat-tab>

      <mat-tab label="Company" [disabled]="contractorForm.get('type')?.value != 'COMPANY'">
        <mat-label>Company Information</mat-label><br>
        <mat-form-field>
          <input matInput placeholder="Company Name" formControlName="companyName" name="companyName">
        </mat-form-field><br>
        <mat-form-field>
          <input matInput placeholder="NIP" formControlName="nip" name="nip">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="REGON" formControlName="regon" name="regon">
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{ data.action }}</button>
  </mat-dialog-actions>
</form>

