@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "app/app.variables";

html, body {
  height: 100%;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


input[type=number]::-webkit-inner-spin-button {
  display: none;
}

button {
  margin: 0 5px;
}


.mat-column-actions {
  text-align: center !important;
  //padding-right: 0 !important;
  width: 135px;
}


.mat-mdc-row:hover {
  background-color: var(--mat-option-hover-state-layer-color)
}

.mat-mdc-tab-body-content {
  overflow-y: hidden !important;
}


//Snackbar styling

.error-snackbar .mdc-snackbar__surface{
    background: var(--bs-danger) !important;
}

.success-snackbar .mdc-snackbar__surface{
    background: var(--bs-success) !important;
}

/* --- Shared Thematic Framework --- */

/* spacing for prefix icons */
mat-icon[matPrefix] {
  margin-right: 12px !important;
  display: flex;
  align-items: center;
}

/* spacing for suffix */
.currency-suffix {
  margin: 8px;
  font-weight: bold;
  opacity: 0.8;
  display: inline-block;
}

.dialog-header-base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  h2 {
   margin: 0 !important;
    font-weight: 500;
    }
}

.dialog-footer-base {
  padding: 16px 24px !important;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}
