<mat-sidenav-container>
  <mat-sidenav
    *ngIf="authService.isAuthenticated()"
  [opened]="(sidebarService.isSmallScreen$ | async) ? (sidebarService.isExpanded$ | async) : true"
  [mode]="(sidebarService.isSmallScreen$ | async) ? 'over' : 'side'"
  [ngClass]="{
    'expanded': (sidebarService.isExpanded$ | async),
    'collapsed': !(sidebarService.isExpanded$ | async),
    'small-screen': (sidebarService.isSmallScreen$ | async)
  }"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content
    [ngClass]="{
    'expanded': (sidebarService.isExpanded$ | async) && authService.isAuthenticated(),
    'collapsed': !(sidebarService.isExpanded$ | async) && authService.isAuthenticated(),
    'small-screen': (sidebarService.isSmallScreen$ | async) && authService.isAuthenticated(),
    'auth-page': !authService.isAuthenticated()
  }"
>
    <mat-toolbar *ngIf="authService.isAuthenticated()" color="primary">
      <app-toolbar (sidenavEmit)="sidebarService.toggleSidenav()"></app-toolbar>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-loading-spinner></app-loading-spinner>
