.container-fluid{
  overflow: hidden;
}

.sidebar{
  background-color: #2d2d2d;
  box-shadow: 0 0 2vw 0 rgba(0,0,0,0.6);
  z-index: 1;
  min-width: 200px;
}
*{
  background-color: #181818;
  color: #CCCCCC;
  height: 100vh;
}
