<mat-sidenav-container>
  <mat-sidenav
    mode="side"
    [opened]="authService.isAuthenticated()"
    [ngClass]="(sidebarService.isExpanded$ | async) ? 'expanded' : 'collapsed'"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content
    [ngClass]="(sidebarService.isExpanded$ | async) ? 'expanded' : 'collapsed'"
>
    <mat-toolbar *ngIf="authService.isAuthenticated()" color="primary">
      <app-toolbar (sidenavEmit)="sidebarService.toggleSidenav()"></app-toolbar>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-loading-spinner></app-loading-spinner>
