<div class="container-fluid">
  <h1 class="text-center"> Dashboard</h1>
  <div class="row">
    <div class="col-md-4 budget text-center">
      <h1 class="text-center">Full budget</h1>
      <h3> Round Diagram </h3>
      <p> Green - free budget <br> Orange - budget already planned <br> Red - budget spent</p>
    </div>
    <div class="col-md-4 budget-room text-center">
      <h1 class="text-center">Budget per room</h1>
      <h3> Round Diagram </h3>
      <p> Budget planned + spent divided between rooms</p>
    </div>
    <div class="col-md-4 budget-job text-center">
      <h1 class="text-center">Budget per job</h1>
      <h3> Round Diagram </h3>
      <p> Budgent that went for work fees, material or tools</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">First Cell</h1>
    </div>
    <div class="col-md-6">
      <h1 class="text-center">Second Cell</h1>
    </div>
</div>
