<h1 class="header">Dashboard</h1>

<mat-grid-list [cols]="cols" [rowHeight]="rowHeight" gutterSize="16px">

  <mat-grid-tile class="chart-tile">
    <div class="chart-container">
      <h3>Cost Composition</h3>

      <div class="chart-wrapper">
        <ngx-charts-pie-chart
          *ngIf="breakdownCost.length > 0"
          [results]="breakdownCost"
          [scheme]="costColorScheme"
          [doughnut]="true"
          [gradient]="false"
          [labels]="false"
          [legend]="false"> <ng-template #tooltipTemplate let-model="model">
          <div class="chart-tooltip">
            {{ model.name }}: {{ model.value | currencyMask }}
          </div>
        </ng-template>
        </ngx-charts-pie-chart>
      </div>

      <app-custom-legend
        [data]="breakdownCost"
        [colors]="costColorScheme">
      </app-custom-legend>

    </div>
  </mat-grid-tile>

  <mat-grid-tile class="chart-tile">
    <div class="chart-container">
      <h3>Room Budget Health</h3>

      <div class="chart-wrapper">
        <ngx-charts-bar-horizontal-2d
          *ngIf="roomHealth.length > 0"
          [results]="roomHealth"
          [scheme]="roomColorScheme"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [barPadding]="2"
          [groupPadding]="12">

          <ng-template #tooltipTemplate let-model="model">
            <div class="chart-tooltip">
              {{ model.name }}: {{ model.value | currencyMask }}
            </div>
          </ng-template>
        </ngx-charts-bar-horizontal-2d>
      </div>

      <app-custom-legend
        [data]="roomLegendData"
        [colors]="roomColorScheme">
      </app-custom-legend>

    </div>
  </mat-grid-tile>

  <mat-grid-tile class="chart-tile">
    <div class="chart-container">
      <h3>Total Budget</h3>

      <div class="chart-wrapper">
        <ngx-charts-pie-chart
          *ngIf="budgetChartData.length > 0"
          [results]="budgetChartData"
          [scheme]="budgetColorScheme"
          [gradient]="false"
          [labels]="false"
          [legend]="false">

          <ng-template #tooltipTemplate let-model="model">
            <div class="chart-tooltip">
              {{ model.name }}: {{ model.value | currencyMask }}
            </div>
          </ng-template>
        </ngx-charts-pie-chart>
      </div>

      <app-custom-legend
        [data]="budgetChartData"
        [colors]="budgetColorScheme">
      </app-custom-legend>

    </div>
  </mat-grid-tile>

  <mat-grid-tile class="chart-tile">
    <div class="chart-container">
      <h3>Budget Utilization</h3>
      <div class="chart-wrapper utilization-chart">
        <ngx-charts-gauge
          *ngIf="budgetUtilizationPercent !== null"
          [results]="[{ name: 'Budget Used', value: budgetUtilizationPercent }]"
          [scheme]="budgetUtilizationColorScheme"
          [min]="0"
          [max]="gaugeMax"
          [angleSpan]="240"
          [startAngle]="-120"
          [showAxis]="true"
          [bigSegments]="gaugeBigSegments"
          [smallSegments]="5"
          [legend]="false"
          [valueFormatting]="gaugeValueFormatting">
        </ngx-charts-gauge>

        <!-- Warning Overlay -->
        <div class="utilization-status" *ngIf="isBudgetOverallocated">
          <mat-icon class="warning-icon">warning</mat-icon>
          <span class="warning-text">OVER BUDGET</span>
        </div>
      </div>

      <div class="utilization-legend">
        <span class="legend-item" [class.warning]="isBudgetOverallocated">
          {{ budgetUtilizationPercent | number:'1.0-0' }}% Allocated
        </span>
        <span class="legend-item free" *ngIf="!isBudgetOverallocated">
          {{ 100 - budgetUtilizationPercent | number:'1.0-0' }}% Free
        </span>
      </div>
    </div>
  </mat-grid-tile>

</mat-grid-list>
