<div class="container-fluid">
  <div class="row text-center justify-content-center">
    <h1>Work Types</h1>
    <button mat-raised-button color="primary" class="col-3" (click)="createForm()">Add Work Type</button>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element" class="col-2">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
                (click)="editForm(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon"
                (click)="removeForm(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>
</div>

