<div class="container-fluid">
  <div class="row text-center justify-content-center">
    <h1>Work Types</h1>
    <button mat-raised-button color="primary" class="col-3" (click)="createForm()">Add Work Type</button>
  </div>
  <table class="table table-dark">
    <thead>
    <tr>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let type of types">
      <td>{{type.name}}</td>
      <td class="col-2">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="editForm(type)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon" (click)= "removeForm(type)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>

    </tbody>
  </table>
</div>

