mat-card{
  width: 400px;
  margin: auto auto 0;
  padding: 20px;
  text-align: center;
}
mat-card-header{
  padding-bottom: 20px;
}
h1{
  width: 100%;
  text-align: center;
}
mat-form-field{
  width: 100%;
}
.small{
  font-size: 0.8em;
  color: #a5a5a5;
}


